<!DOCTYPE html>
<html>
  <head>
    <title>Webmarks</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
<!-- TODO add nav tabs -->

  <div class="container">
      <!-- REVIEW make more sense to extend existing user info class? -->
      <!-- want to make it align to the left -->
      <div class="pull-right user-info">
        <% if user_signed_in? %>
        <!-- TODO Add username attribute, change this line -->
          <strong><%= link_to "My Bookmarks", user_path(current_user) %></strong>
          <!-- TODO re-add "settings" after user controller made -->
          <!-- REVIEW syntax for stubbing links before you have path (something like # or something?) -->
          <!-- <%# link_to 'Settings', edit_user_registration_path, class: "navbar-link" %> -->
          | <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "navbar-link" %>
           - <%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %>
        <% end %>
      </div>

      <div class="flash">
        <% if flash[:notice] %>
        <div class="alert alert-succes">
          <button class=close data-dismiss="alert" type="button">&times;</button>
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:error] %>
        <div <button class="alert alert-danger" class="close" data-dismiss="alert" type="button">&times;</button>
        <%= flash[:error] %>
      </div>
      <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= flash[:alert] %>
      </div>
      <% end %>
    </div>

    <%= yield %>

  </div>

</body>
</html>
