<!DOCTYPE html>
<html>
  <head>
    <title>Webmarks</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <script>
  // $(function() {
  //   $(".icon").each(function() {
  //       $(this).parent().prepend("<img width='50px' height='50px' src='" + $(this).attr("href") + "/favicon.ico' />");
  //   });
  // });

  // (function(w, d){
  //  var id='embedly-platform', n = 'script';
  //  if (!d.getElementById(id)){
  //    w.embedly = w.embedly || function() {(w.embedly.q = w.embedly.q || []).push(arguments);};
  //    var e = d.createElement(n); e.id = id; e.async=1;
  //    e.src = ('https:' === document.location.protocol ? 'https' : 'http') + '://cdn.embedly.com/widgets/platform.js';
  //    var s = d.getElementsByTagName(n)[0];
  //    s.parentNode.insertBefore(e, s);
  //  }
  // })(window, document);
</script>

  <body>
<!-- TODO add nav tabs -->

  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "All Bookmarks", topics_path %></li>
      <!-- TODO re-add after User profile made -->
      <li><%# link_to "Users", users_path %></li>
    </ul>

      <!-- REVIEW make more sense to extend existing user info class? -->
      <!-- want to make it align to the right -->
      <div class="pull-right user-info">
        <% if user_signed_in? %>
        <!-- TODO Add username attribute, change this line -->
          <strong><%= link_to "My Bookmarks", user_path(current_user) %></strong>
          <!-- TODO re-add "settings" after user controller made -->
          <!-- <%# link_to 'Settings', edit_user_registration_path, class: "navbar-link" %> -->
          | <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "navbar-link" %>
           - <%= link_to "Sign In", new_user_session_path, class: 'navbar-link' %>
        <% end %>
      </div>

      <!-- REVIEW flash/alert - why isn't this looking right? -->
      <div class="flash">
        <% if flash[:notice] %>
        <div class="alert alert-succes">
          <button class=close data-dismiss="alert" type="button">&times;</button>
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:error] %>
        <div <button class="alert alert-danger" class="close" data-dismiss="alert" type="button">&times;</button>
        <%= flash[:error] %>
      </div>
      <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= flash[:alert] %>
      </div>
      <% end %>
    </div>

    <%= yield %>

  </div>

</body>
</html>
